:root {
    /* background */
    --color-bg-base: #0F0F0F;
    --color-bg-base-light: #1A1A1A;
    --color-bg-black: #000;
    --color-bg-white: #FFF;

    /*border */
    --color-border-white: #FFF;

    /* font-color */
    --color-font-attention: #D94747;
    --color-font-base: #D0D0D0;
    --color-font-black: #000;

    /* font */
    --font-JP: "Noto Serif JP", serif;
    --font-EN: "Lara", serif;

    /* width */
    --width-content: 1080px;
    --width-content-s: 760px;
}

html {
    color: #000;
    background: #fff;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none;  
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before,
q:after {
    content: "";
}

abbr,
acronym {
    border: 0;
    font-variant: normal;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

/* input,
textarea,
select,
button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    *font-size: 100%;
    border-radius: 0;
    border: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: inherit;
} */

input,
textarea,
select {
    font-size: 16px;
}

textarea {
    resize: vertical;
    display: block;
}

button {
    padding: 0;
    cursor: pointer;
}

legend {
    color: #000;
}

main {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

svg {
    display: block;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

body {
    color: #FFF;
    line-height: 1.8;
    background: #000;
    font-family: var(--font-JP);
    font-family: var(--font-EN);
}

/* レイアウト */
.l-container {
    max-width: var(--width-content);
    width: 90%;
    margin: 0 auto;
}

/* デザイン */
.sec-title {
    font-size: 48px;
    line-height: 1;
    margin-top: 104px;
    text-align: center;
}

.sec-catch {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.8;
    margin-bottom: 56px;
    text-align: center;
}

.i-button {
    background: var(--color-bg-black);
    padding: 10px;
    width: 290px;
    display: block;
    border: 1px solid var(--color-border-white);
    font-size: 24px;
    position: relative;
    margin: 0 auto;
    color: var(--color-font-base);
    font-family: var(--font-JP);
}

@media screen and (min-width: 764px) {
    .i-button {
        font-size: 32px;
        width: 390px;
    }
}

.i-button::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -1em;
    transform: translateY(-50%);
    width: 35px;
    height: 2px;
    background-color: var(--color-border-white);
}

/* ヘッダー */
.header .top-logo {
    padding: 30px 0;
}

.header .top-logo-img {
    width: 60%;
    margin: 0 auto;
    display: block;
}

@media screen and (min-width: 764px) {
    .header .top-logo-img {
        width: 300px;
        margin: 0 auto;
        display: block;
    }
}

.top-logo-link {
    width: 100px;
    margin: 0 auto;
}

/* top-kv */
.top-kv {
    position: relative;
}

.top-kv-img {
    background-image: url(../img/bg-top-kv@2x.jpg);
    height: 650px;
    width: 100%;
    background-position: center center;
    background-size: cover;
}

.top-kv-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    padding: 500px 0;
}

@media screen and (min-width: 764px) {
    .top-kv-text {
        padding-top: 400px;
    }
}

.top-kv-catch {
    font-size: 24px;
}

.top-kv-title {
    font-size: 26px;
}

.top-kv-p-text {
    font-size: 14px;
}

@media screen and (min-width: 764px) {
    .top-kv-catch {
        font-size: 32px;
        letter-spacing: 2px;
    }
    
    .top-kv-title {
        font-size: 72px;
        letter-spacing: 4px;
    }
    
    .top-kv-p-text {
        font-size: 24px;
    }
}
    
/* Profile */
@media screen and (min-width: 764px) {
    .profile-flex {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.profile-text-wrapper {
    background-color: var(--color-bg-base-light);
    height: 321px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 35px;
}

@media screen and (min-width: 764px) {
    .profile-img {
        width: 45%;
    }
}

/* Products */
.products {
    background-color: var(--color-bg-base-light);
    margin: 5px calc(50% - 50vw) 15px;
    width: 100vw;
}

.sec-title--adjust {
    padding-top: 140px;
}

.products-flex-items {
    padding: 0;
}

@media screen and (min-width: 764px) {
    .products-flex-items {
        width: 62%;
        margin: 0 auto;
        padding: 20px;
    }
}

.products-flex-item {
    display: flex;
    flex-direction: column;
}

.products-img {
    margin: 0 auto;
    display: block;
    width: 100%;
}

@media screen and (min-width: 764px) {
    .products-flex-item {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        margin: 60px 0;
    }

    .products-flex-item:nth-child(2n) {
        flex-direction: row;
    }
}
    
    .products-text {
    padding: 40px;
}

.products-award-title {
    font-size: 24px;
    margin-bottom: 40px;
    border-bottom: 1px solid var(--color-border-white);
    width: 10em;
}

@media screen and (min-width: 764px) {
    .products-img {
        width: 40%;
    }
}

/* works */
.works-flex-items {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    padding: 5px;
    gap: 10px;
}
@media screen and (min-width: 764px) {
    .works-flex-items {
        margin-top: 10px;
        display: flex;
        gap: 20px;
    }
}


/* Awards */
.awards-flex-items {
    display: flex;
    flex-direction:column;
}

@media screen and (min-width: 764px) {
    .awards-flex-items {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
}

.awards-flex-item {
    margin: 10px 0;
}

.awards-text {
    text-align: center;
    margin-top: 10px;
}

.instagram-text {
    font-size: 24px;
    text-align: center;
    margin: 20px;
}

/* Photo School */
.sec-title-p {
    text-align: center;
    margin: 0 auto;
    display: block;
    padding-top: 104px;
}

.top-school-table-row {
    border-bottom: 1px solid var(--color-border-white);
    display: block;
    padding: 24px 0;
}

@media screen and (min-width: 768px) {
.top-school-table-row   {
        padding: 32px 0;
        display: flex;
    }
}

.top-school-table-header,
.top-school-table-data {
    display: block;
}

@media screen and (min-width: 768px) {
.top-school-table-header {
        width: 30%;
    }
}
.top-school-table-data {
    margin-top: 4px;
}
@media screen and (min-width: 768px) {
.top-school-table-data {
    width: 70%;
    margin-top: 0;
}
}

.top-school-table-recommend-list {
    list-style: inside;
}

.top-school-table-recommend-item:not(:first-child) {
    margin-top: 4px;
}

.top-school-message {
    font-size: 16px;
    text-align: center;
    margin-top: 40px;
}
@media screen and (min-width: 768px) {
.top-school-message {
    font-size: 24px;
    margin-top: 56px;
}
}
.top-school-message span {
display: block;
}
@media screen and (min-width: 768px) {
.top-school-message span {
    display: inline;
}
}

.top-school-button {
margin-top: 24px;
}

.i-button--margin {
    margin-bottom: 20px;
}

/* Contact */
.contact {
    background-color: var(--color-bg-base-light);
    margin: 5px calc(50% - 50vw) 15px;
    width: 100vw;
    padding: 50px;
}

.contact-form {
    margin: auto;
    width: fit-content;
}

.contact-form-item {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
}

.contact-form-input {
    width: 100%;
    padding: 20px;
}

@media screen and (min-width: 764px) {
    .contact-form-input {
        padding: 20px;
        width: 760px;
    }
}

.red {
    color: var(--color-font-attention);
    margin-left: 10px;
}

.submit-button {
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    padding: 10px;
    width: 260px;
    background-color: var(--color-bg-white);
    border: 1px solid var(--color-border-white);
}

/* footer */
.footer-img {
    width: 25%;
    margin: 0 auto;
    display: block;
}

.footer-img {
    width: 50%;
    padding: 20px 0;
}

@media screen and (min-width: 764px) {
    .footer-img {
        width: 15%;
        padding: 10px 0;
    }
}

.copyright {
    font-size: 12px;
    text-align: center;
}