:root {
    /* background */
    --color-bg-base: #0F0F0F;
    --color-bg-base-light: #1A1A1A;
    --color-bg-black: #000;
    --color-bg-white: #FFF;

    /*border */
    --color-border-white: #FFF;

    /* font-color */
    --color-font-attention: #D94747;
    --color-font-base: #D0D0D0;
    --color-font-black: #000;

    /* font */
    --font-JP: "Noto Serif JP", serif;
    --font-EN: "Lara", serif;

    /* width */
    --width-content: 1080px;
    --width-content-s: 760px;
}

html {
    color: #000;
    background: #fff;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none;  
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before,
q:after {
    content: "";
}

abbr,
acronym {
    border: 0;
    font-variant: normal;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

input,
textarea,
select,
button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    *font-size: 100%;
    border-radius: 0;
    border: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: inherit;
}

input,
textarea,
select {
    font-size: 16px;
}

textarea {
    resize: vertical;
    display: block;
}

button {
    padding: 0;
    cursor: pointer;
}

legend {
    color: #000;
}

main {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

svg {
    display: block;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

body {
    color: #FFF;
    line-height: 1.8;
    background: #000;
    font-family: var(--font-JP);
    font-family: var(--font-EN);
}

/* レイアウト */
.l-container {
    max-width: var(--width-content);
    width: 90%;
    margin: 0 auto;
}

/* デザイン */
.sec-title {
    font-size: 48px;
    letter-spacing: 0.2; 
    line-height: 1;
    margin-top: 104px;
    text-align: center;
}

.sec-catch {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.8;
    margin-bottom: 56px;
    text-align: center;
}

.i-button {
    background: var(--color-bg-black);
    padding: 10px;
    display: block;
    width: 450px;
    border: 1px solid var(--color-border-white);
    font-size: 32px;
    position: relative;
    margin: 0 auto;
}

.i-button::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -1em;
    transform: translateY(-50%);
    width: 70px;
    height: 2px;
    background-color: var(--color-border-white);
    transition: 0.3s;
}

/* ヘッダー */
.header .top-logo {
    padding: 30px 0;
}

.header .top-logo-img {
    width: 300px;
    margin: 0 auto;
    display: block;
}

/* top-kv */
.top-kv {
    position: relative;
}

.top-kv-img {
    background-image: url(../img/bg-top-kv@2x.jpg);
    padding: 400px;
    background-position: center center;
    background-size: cover;
}

.top-kv-text {
    position: absolute;
}

/* Profile */
.profile-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-text-wrapper {
    background-color: var(--color-bg-base-light);
    height: 321px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 35px;
}

@media screen and (min-width: 764px) {
    .profile-img {
        width: 45%;
    }
}

/* Products */
.products {
    background-color: var(--color-bg-base-light);
    margin: 5px calc(50% - 50vw) 15px;
    width: 100vw;
}

.sec-title--adjust {
    padding-top: 10px;
}

.products-flex-items {
    width: 80%;
    margin: 0 auto;
}

.products-flex-item {
    display: flex;
    align-items: center;
}

.products-text {
    padding: 40px;
}

.products-award-title {
    font-size: 24px;
    margin-bottom: 40px;
    border-bottom: 1px solid var(--color-border-white);
    width: 10em;
}

.products-img {
    width: 40%;
}